/ - if message.errors.any?
/     div style="color: red"
/       h4
/         = pluralize(message.errors.count, "error")
/         = " prohibited this message from being saved:"
/       ul
/         - message.errors.each do |error|
/           li
/             = error.full_message

= form_with(model: message) do |f|
  = f.text_area :body
  = f.submit
